@font-face {
    font-family: 'CoockieRun';
    src: url('coockierun.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}



/* Добавляем обёртку и стили для контейнера */
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   /* border: 1px solid #ff006f;*/
}
#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F7F6F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto;
    width: 90vw; /* Используем относительную единицу измерения */
    height: auto;
    aspect-ratio: 9 / 16;
    max-width: 400px;
    max-height: 90vh; /* Используем относительную единицу измерения */
}

#flip-instruction {
    text-align: center;
    font-family: 'CoockieRun', sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 5px; /* Отступ снизу, чтобы было расстояние до card-container */
}

/* Контейнер для карточек */
#card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
   /* border: 2px solid #32d540; */
    overflow: hidden;
}

/* Стиль для изображения */
img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Адаптивное масштабирование изображения */
    
}
/* Ваши стили для карточек */
.card {
    
    position: relative;
    width: 220px;
       perspective: 1000px;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.3s;
    
}

.card-inner {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%; /* Убедитесь, что высота указана */
    aspect-ratio: 9 / 16; /* Соотношение сторон одинаковое */
    backface-visibility: hidden;
    padding: 0px;
    border-radius: 10px;
}

.card-front {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    
    
}

.card-back {
    background: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 25px; 
    font-family: 'CoockieRun', sans-serif;
    color: #333;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    word-break: keep-all;  /* Запрещает перенос текста по слогам */
    white-space: normal;   /* Позволяет перенос текста по словам */
    text-align: center;    /* Выравнивание текста по центру */
}
.card-back .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Растягиваем текст по высоте */
    align-items: center;
    width: 100%;
   
    padding: 10px;
    box-sizing: border-box; /* Учитываем отступы */
    border: 2px solid #000000;
    word-break: keep-all;  /* Запрещает перенос текста по слогам */
    white-space: normal;   /* Позволяет перенос текста по словам */
    text-align: center;    /* Выравнивание текста по центру */
  
}
/* Корейский текст */
.korean-text {
    font-size: calc(15px + 1vw);
    font-family: 'CoockieRun', sans-serif;
    color: #333;
    text-align: center;
    max-width: 100%;
    word-break: keep-all;
    white-space: normal;   /* Позволяет перенос текста по словам */
    overflow: hidden;
}

/* Русский текст */
.russian-text {
    font-size: clamp(15px, 4vw, 24px);
    margin-top: 20px;
    font-family: 'CoockieRun', sans-serif;
    color: #333;
    text-align: center;
    max-width: 100%;
    white-space: normal;
       word-break: break-word;
       
}



.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F6;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%; /* Растягиваем контейнер на всю ширину */
    height: 100px; /* Исправлено значение высоты */
    /*border: 1px solid #ffe100;*/
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 0px;
    position: relative;
}
/* Кнопки управления */
.control-button {
    padding: 10px;
    background-color: #ffffff;
    color: #49D532;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    box-shadow: 0 1px 2px #b7b7b7;
    
}

.control-button:active {
    box-shadow: 0 1px 2px #676767;
    transform: translateY(4px);
}

.control-button.bad {
    background-color: #ffffff;
    color: #D53240
}

.control-button.excellent {
    background-color: #ffffff;
    color: #32B8D5
}

#sound-button-container {
    display: block;
    background-color: #F7F6F6;
    margin-bottom: 5px;
    width: 100%; /* Растягиваем контейнер на всю ширину */
    height: 150x; 
   /* border: 1px solid #2fff00;*/
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 0px;
    position: relative;
}

#sound-button {
    border-radius: 60px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(146, 0, 0, 0.5);
    transform: scale(0.8); /* Уменьшение кнопки на 10% */
}
#sound-button:active {
    transform: translateY(4px); /* Уменьшаем кнопку при нажатии */
    box-shadow: 0px 0px 4px rgba(146, 0, 0, 0.5); /* Уменьшаем тень */
}
.smiley {
    position: absolute;
    font-size: 24px;
    transition: transform 0.4s ease, opacity 0.2s ease;
    pointer-events: none;
  }
